Date: 1 July

In [ ]:
n = int(input())
count = 0
for i in range (1,n+99999,1):
    x = 3*i+2
    if x%4 ==0:
        pass
    else: 
        print(x, end = ' ')
        count +=1

    if count ==n:
        break

In [ ]:
def ispalindrome(string):
    rev = string[::-1]
    if string == rev:
        return True

    else: return False

string = input().strip()
ans = ispalindrome(string)

if ans==True:
    print(True)

else: 
    print(False)

**2 July and 3 July**

In [ ]:
n = 11
c = int(input())

if c ==1:
    sum = 0
    for i in range(1, n+1):
        sum+=1
    print(sum)

elif c ==2:
    product = 1
    for i in range(1,n+1):
        product*=i
    
    print(product)

else:
    print(1)

In [ ]:
n = int(input())
print(int(n**0.5))

**4 July**

In [ ]:
# binary to decimal
n = 101
i = 0

sum = 0

while n!=0:
    dig = n%10
    n = n//10
    c = 2**i

    dec = dig*c
    sum = sum+dec
    i+=1

print(sum)

**6 July**

In [ ]:
n = int(input())

if n==0:
    print('Zero')

else:
    if n>0:
        print('Positive')

    else:
        print("Negative")

In [ ]:
x1 = int(input())
x2 = int(input())
y1 = int(input())
y2 = int(input())

area = (x2-x1)*(y2-y1)
print(area)

**7 July**

In [ ]:
n = int(input())
i =1
sum = 0
while i<=n:
    sum = sum+i
    i = i+1

print(sum)

**8 June**

#### Trailing zeroes in n!

Find and return number of trailing 0s in n factorial without calculating n factorial.

In [ ]:
n = int(input())

i=1
trailing_zeroes = 0

while(n//5**i >0):
    
    trailing_zeroes = trailing_zeroes+(n//5**i)
    
    i = i+1
    
print(trailing_zeroes)

**10 June**

Find sum of all the even valued fibonacci numbers which are less than of equal to N.

In [ ]:
# n = int(input())
n = 43
a = 0
b = 1

c =-1

sum_even = 0

for i in range(n):
    c = a+b
    a=b
    b=c
    if a>n:
        break
    if a%2==0:
        sum_even = sum_even+a

print(sum_even)

In [ ]:
from collections import Counter
test_str = 'saurabhsaurabh'
Counter(test_str)

In [ ]:
chars = list(set(test_str))
print(chars)
count = 0
for char in chars:
    temp_count = test_str.count(char)

    if temp_count>count :
        count = temp_count
        result = char

result

In [ ]:
def highestOccuringChar(string) :
	#Your code goes here
    chars = list(set(string))
    count = 0
    for char in chars:
        temp_count = string.count(char)

        if temp_count>count :
            count = temp_count
            result = char
            
    return result 


string = 'aabbb'
highestOccuringChar(string)

#### Strings

- *Print Spiral*

#### Functions
- **Fibonacci Member**

**16 July**

# Find sum and multiplcation with 2 or more paramters

In [ ]:


def sum_multiply(a,b, *more):
    sum_value = a+b
    m_value = a*b

    for i in more:
        sum_value = sum_value+i
        m_value = m_value*i

    return sum_value, m_value

sum_multiply(1,2,3,4,5,6,7,8)

**18 July**

Total number of trailing zeroes in n!

In [ ]:
# n =int(input())
n = 100

i = 1
total_zeroes = 0

while(n>5**i):
    num_of_zeroes = n//5**i
    total_zeroes += num_of_zeroes
    i = i+1

print(total_zeroes)

In [ ]:
def sum_multiply(a,b, *more):
    sum_value = a+b 
    m_value = a*b

    for i in more:
        sum_value = sum_value+i
        m_value = m_value*i

    return sum_value, m_value

sum_multiply(1,2,3,4,5,6,7,8)

**19 July**

In [ ]:
a = [10,23,56,[78]]
b = list(a)

a[3][0] = 95
a[1] = 34

print(b)
print(a)

In [ ]:
r = [11,12,13,14]

A = [[0,10,20],
[30,40,50],
[60,70,80]]

In [ ]:
for row in A:
    for col in row:
        r.append(col+10)

print(r)

**21 July**

In [ ]:
def sum_multiply(a,b, *more):
    sum_value = a+b 
    m_value = a*b

    for i in more:
        sum_value = sum_value+i
        m_value = m_value*i

    return sum_value, m_value

sum_multiply(1,2,3,4,5,6,7,8)

# **23 June**

In [ ]:
# print all substrings of given string

def print_substring(string):
    n = len(string)
    for i in range(n):
        for j in range(i, n):
            for k in range(i, j+1):
                print(string[k], end = ' ')


s = " hello"
print_substring(s)

In [ ]:
def reverse(string):
    words = string.split(' ')
    for i in range(len(words)):
        w = words[i]
        rev_w = w[::-1]
        words[i] = rev_w

    return " ".join(words)

s = "Hello Everyone this is my code of the day"
reverse(s)

### 24 June
First Square Pattern

In [ ]:
n = 10
a =1
while a<=n:
    j =1
    while j<=n:
        print(n, end = ' ')
        j+=1

    print()
    a+=1

### **25 June**

In [ ]:
def swapalternative(arr, n):
    for i in range(0,n,2):
        temp = arr[i]
        if temp!=arr[n-1]:
            arr[i]=arr[i+1]
            arr[i+1] = temp

    return arr


# arr = [1,2,3,4,5,6,7]
arr = [1,2,3,4,5,6]
n = len(arr)
swapalternative(arr, n)

In [1]:
a = [10,23,56,[78]]

b = a

a[3][0] = 95
a[1] = 34

print(a, b)

[10, 34, 56, [95]] [10, 34, 56, [95]]

### 29 June

In [1]:
def sum_multiply(a,b, *more):
    sum_value = a+b
    m_value = a*b

    for i in more:
        sum_value = sum_value+i
        m_value = m_value*i

    return sum_value, m_value

sum_multiply(1,2,3,4,5,6,7,8)

(36, 40320)

#### 7 August

In [3]:
a = {'apple', 'abc', 23}

a.discard(23)
a

{'abc', 'apple'}

In [5]:
a.add('temp')
a

{'abc', 'apple', 'temp'}

#### 9 August

In [1]:
a = {1:2, 2:4, 'list': [1,2,3]}
a.get(1)

2

In [2]:
a.get('li', 0)

0

In [3]:
a.get('list', 0)

[1, 2, 3]

In [1]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

# Insert a function that prints a greeting, and execute it on the p1 object:

In [2]:


class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [3]:
import requests
## Write your code here
apiKey = 'ffafe1f2b141d9a9fcae15771fe46db1'

# find id of genres
res = requests.get('https://api.themoviedb.org/3/genre/movie/list',params={'api_key':apiKey}) 
data=res.json()
genres={}
for i in data['genres']:
    genres[i['id']]=i['name']
genres


res = requests.get('https://api.themoviedb.org/3/movie/top_rated',params={'api_key':apiKey,'region':'US'}) 
data=res.json()
data['results']
count=0
for i in data['results']:
    if i['original_language']=='en':
        print(i['title'],end=' - ')
        for j in i['genre_ids']:
            print(genres[j],end=', ')
        print()
        count+=1
    if count==10:
        break

The Godfather - Drama, Crime,
The Shawshank Redemption - Drama, Crime,
Puss in Boots: The Last Wish - Animation, Action, Adventure, Comedy, Family, Fantasy,
The Godfather Part II - Drama, Crime,
Schindler's List - Drama, History, War,
12 Angry Men - Drama,
The Green Mile - Fantasy, Drama, Crime,
The Dark Knight - Drama, Action, Crime, Thriller,
Pulp Fiction - Thriller, Crime,
Forrest Gump - Comedy, Drama, Romance,

In [5]:
data['genres']

KeyError: 'genres'

In [6]:
import requests

api_key = '170e001dc38f22732dea592db0f5a5c0'
lang = 'en-US'
reg = 'US'

r = requests.get("https://api.themoviedb.org/3/movie/top_rated", 
                        params={'api_key':api_key, 'language' : lang, 'region' : reg})

# r = requests.get("?api_key=" + api_key + "&query=Andhadhun")

a = r.json()['results']


g = requests.get("https://api.themoviedb.org/3/genre/movie/list", params = {'api_key' : api_key})

gid = g.json()['genres']

In [7]:
gid

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

In [8]:
## Fetch the top rated english movies in the US region using the TMDb API. 
## From the result, print the first 10 movies which have original language as english. Also print their genres.

import json
import requests

api_key = '170e001dc38f22732dea592db0f5a5c0'
lang = 'en-US'
reg = 'US'

r = requests.get("https://api.themoviedb.org/3/movie/top_rated", 
                        params={'api_key':api_key, 'language' : lang, 'region' : reg})

# r = requests.get("?api_key=" + api_key + "&query=Andhadhun")

a = r.json()['results']


g = requests.get("https://api.themoviedb.org/3/genre/movie/list", params = {'api_key' : api_key})

gid = g.json()['genres']

d = {}

for i in gid:
    d[i['id']] = i['name']

e = {}
for i in a:
    if i['original_language'] == 'en':
        e[i['title']] = str([d[i['genre_ids'][k]] for k in range(len(i['genre_ids']))])

for k in e:
    e[k] = e[k].replace('[', "")
    e[k] = e[k].replace(']', "")
    e[k] = e[k].replace('\'', "")

c = 0
for k, v in e.items():
    print(k,' - ', v)
    c= c+1
    if c == 10:
        break

The Godfather  -  Drama, Crime
The Shawshank Redemption  -  Drama, Crime
Puss in Boots: The Last Wish  -  Animation, Action, Adventure, Comedy, Family, Fantasy
The Godfather Part II  -  Drama, Crime
Schindler's List  -  Drama, History, War
12 Angry Men  -  Drama
The Green Mile  -  Fantasy, Drama, Crime
The Dark Knight  -  Drama, Action, Crime, Thriller
Pulp Fiction  -  Thriller, Crime
Forrest Gump  -  Comedy, Drama, Romance

In [11]:
import requests

data = requests.get('https://api.openweathermap.org/data/2.5/weather', params = {'appid':'c7ac7cd7b653629ae29eb3d17d8c2bc0'})

print(data.status_code)

400

In [15]:
import requests
response = requests.get('https://api.openweathermap.org/data/2.5/weather',params={'q':'Hyderabad','appid':'fdbff6e3e848b6f6a760394f271379bc'})
data=response.json()
print(data['name'])
print('Temperature:',data['main']['temp'])
print('Weather Report:',data['weather'][0]['description'])

Hyderabad
Temperature: 301.38
Weather Report: haze