Date: 1 July

In [1]:
n = int(input())
count = 0
for i in range (1,n+99999,1):
    x = 3*i+2
    if x%4 ==0:
        pass
    else: 
        print(x, end = ' ')
        count +=1

    if count ==n:
        break

5 11 14 17 23 26 29 35 38 41 47 50 53 59 62 65 71 74

In [4]:
def ispalindrome(string):
    rev = string[::-1]
    if string == rev:
        return True

    else: return False

string = input().strip()
ans = ispalindrome(string)

if ans==True:
    print(True)

else: 
    print(False)

True

**2 July and 3 July**

In [5]:
n = 11
c = int(input())

if c ==1:
    sum = 0
    for i in range(1, n+1):
        sum+=1
    print(sum)

elif c ==2:
    product = 1
    for i in range(1,n+1):
        product*=i
    
    print(product)

else:
    print(1)

39916800

In [6]:
n = int(input())
print(int(n**0.5))

7

**4 July**

In [1]:
# binary to decimal
n = 101
i = 0

sum = 0

while n!=0:
    dig = n%10
    n = n//10
    c = 2**i

    dec = dig*c
    sum = sum+dec
    i+=1

print(sum)

5

**6 July**

In [3]:
n = int(input())

if n==0:
    print('Zero')

else:
    if n>0:
        print('Positive')

    else:
        print("Negative")

Positive

In [4]:
x1 = int(input())
x2 = int(input())
y1 = int(input())
y2 = int(input())

area = (x2-x1)*(y2-y1)
print(area)

2

**7 July**

In [1]:
n = int(input())
i =1
sum = 0
while i<=n:
    sum = sum+i
    i = i+1

print(sum)

276

**8 June**

#### Trailing zeroes in n!

Find and return number of trailing 0s in n factorial without calculating n factorial.

In [4]:
n = int(input())

i=1
trailing_zeroes = 0

while(n//5**i >0):
    
    trailing_zeroes = trailing_zeroes+(n//5**i)
    
    i = i+1
    
print(trailing_zeroes)

2034855

**10 June**

Find sum of all the even valued fibonacci numbers which are less than of equal to N.

In [1]:
# n = int(input())
n = 43
a = 0
b = 1

c =-1

sum_even = 0

for i in range(n):
    c = a+b
    a=b
    b=c
    if a>n:
        break
    if a%2==0:
        sum_even = sum_even+a

print(sum_even)

44

In [1]:
from collections import Counter
test_str = 'saurabhsaurabh'
Counter(test_str)

Counter({'s': 2, 'a': 4, 'u': 2, 'r': 2, 'b': 2, 'h': 2})

In [4]:
chars = list(set(test_str))
print(chars)
count = 0
for char in chars:
    temp_count = test_str.count(char)

    if temp_count>count :
        count = temp_count
        result = char

result

['a', 'u', 'h', 's', 'r', 'b']

'a'

In [6]:
def highestOccuringChar(string) :
	#Your code goes here
    chars = list(set(string))
    count = 0
    for char in chars:
        temp_count = string.count(char)

        if temp_count>count :
            count = temp_count
            result = char
            
    return result 


string = 'aabbb'
highestOccuringChar(string)

['a', 'b']

'a'

#### Strings

- *Print Spiral*

#### Functions
- **Fibonacci Member**

**16 July**

# Find sum and multiplcation with 2 or more paramters

In [3]:


def sum_multiply(a,b, *more):
    sum_value = a+b
    m_value = a*b

    for i in more:
        sum_value = sum_value+i
        m_value = m_value*i

    return sum_value, m_value

sum_multiply(1,2,3,4,5,6,7,8)

(36, 40320)

**18 July**

Total number of trailing zeroes in n!

In [3]:
# n =int(input())
n = 100

i = 1
total_zeroes = 0

while(n>5**i):
    num_of_zeroes = n//5**i
    total_zeroes += num_of_zeroes
    i = i+1

print(total_zeroes)

24

In [4]:
def sum_multiply(a,b, *more):
    sum_value = a+b 
    m_value = a*b

    for i in more:
        sum_value = sum_value+i
        m_value = m_value*i

    return sum_value, m_value

sum_multiply(1,2,3,4,5,6,7,8)

(36, 40320)

**19 July**

In [3]:
a = [10,23,56,[78]]
b = list(a)

a[3][0] = 95
a[1] = 34

print(b)
print(a)

[10, 23, 56, [95]]
[10, 34, 56, [95]]

In [5]:
r = [11,12,13,14]

A = [[0,10,20],
[30,40,50],
[60,70,80]]

In [6]:
for row in A:
    for col in row:
        r.append(col+10)

print(r)

[11, 12, 13, 14, 10, 20, 30, 40, 50, 60, 70, 80, 90]

**21 July**

In [1]:
def sum_multiply(a,b, *more):
    sum_value = a+b 
    m_value = a*b

    for i in more:
        sum_value = sum_value+i
        m_value = m_value*i

    return sum_value, m_value

sum_multiply(1,2,3,4,5,6,7,8)

(36, 40320)

# **23 June**

In [4]:
# print all substrings of given string

def print_substring(string):
    n = len(string)
    for i in range(n):
        for j in range(i, n):
            for k in range(i, j+1):
                print(string[k], end = ' ')


s = " hello"
print_substring(s)

    h   h e   h e l   h e l l   h e l l o h h e h e l h e l l h e l l o e e l e l l e l l o l l l l l o l l o o

In [5]:
def reverse(string):
    words = string.split(' ')
    for i in range(len(words)):
        w = words[i]
        rev_w = w[::-1]
        words[i] = rev_w

    return " ".join(words)

s = "Hello Everyone this is my code of the day"
reverse(s)

'olleH enoyrevE siht si ym edoc fo eht yad'

### 24 June
First Square Pattern