In [1]:
a=5
if a!=7:
    print("not 7")
else:
    print("7")

not 7

In [10]:
a=10
b=10
c=5

if a>=b and a>=c :
    print("a is largest")

elif b>=a and b>= c:
    print("b is largest")

else :
    print("c is largest")

a is largest

In [6]:
a=25
b=23

if a>20:
    print("a>20")
elif a>b:
    print("a>b")
else :
    print("b>a")

a>20

In [7]:
a=25
b=23

if a>20:
    print("a>20")
if a>b:
    print("a>b")
else :
    print("b>a")

a>20
a>b

In [11]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
       print('B')
    else:
      print('C')
else:
     print('D')

B

In [2]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [4]:
i=1
while i<=10:

    print(i*i)
    i+=1

1
4
9
16
25
36
49
64
81
100

In [7]:
i=1
while i<=10:
    a=i*i
    print(a)
    i+=1

1
4
9
16
25
36
49
64
81
100

In [8]:
i=1
while i<=10:

    print(i**10)
    i+=1

1
1024
59049
1048576
9765625
60466176
282475249
1073741824
3486784401
10000000000

In [10]:
n = 100
i=1
sum=0
while i<=n:
    sum=sum+i
    i+=1

print(i)   
print(sum)

101
5050

Given an integer n, find and print the sum of numbers from 1 to n.
Note : Use while loop only.

In [11]:
# Print output as specified in the question
n=int(input())
i=1
sum=0
while i<=n:
    sum=sum+i
    i+=1

# print(i)   
print(sum)

190

Given a number N, print sum of all even numbers from 1 to N.

In [12]:
n=int(input())
i=1
sum=0
while i<=n:
    if i%2==0:
        sum=sum+i
    i+=1

# print(i)   
print(sum)

42