In [106]:
import pandas as pd

In [107]:
df=pd.read_csv("scaler_apollo_hospitals_1.csv")

In [108]:
df.head(10)

   age  viral load  severity level  hospitalization charges
0   19        9.30               0                    42212
1   18       11.26               1                     4314
2   28       11.00               3                    11124
3   33        7.57               0                    54961
4   32        9.63               0                     9667
5   31        8.58               0                     9392
6   46       11.15               1                    20601
7   37        9.25               3                    18204
8   37        9.94               2                    16016
9   60        8.61               0                    72308

In [109]:
df.tail(10)

      age  viral load  severity level  hospitalization charges
1328   23        8.08               2                    55989
1329   52       12.87               2                    25813
1330   57        8.58               2                    31573
1331   23       11.13               0                    26990
1332   52       14.90               3                    28529
1333   50       10.32               3                    26501
1334   18       10.64               0                     5515
1335   18       12.28               0                     4075
1336   21        8.60               0                     5020
1337   61        9.69               0                    72853

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      1338 non-null   int64
 1   viral load               1338 non-null   float64
 2   severity level           1338 non-null   int64
 3   hospitalization charges  1338 non-null   int64
dtypes: float64(1), int64(3)
memory usage: 41.9 KB

In [111]:
df.describe()

               age   viral load  severity level  hospitalization charges
count  1338.000000  1338.000000     1338.000000              1338.000000
mean     39.207025    10.221233        1.094918             33176.058296
std      14.049960     2.032796        1.205493             30275.029296
min      18.000000     5.320000        0.000000              2805.000000
25%      27.000000     8.762500        0.000000             11851.000000
50%      39.000000    10.130000        1.000000             23455.000000
75%      51.000000    11.567500        2.000000             41599.500000
max      64.000000    17.710000        5.000000            159426.000000

In [112]:
import numpy as np
from sklearn.linear_model import LinearRegression


x=df.iloc[:,:3]
x

      age  viral load  severity level
0      19        9.30               0
1      18       11.26               1
2      28       11.00               3
3      33        7.57               0
4      32        9.63               0
...   ...         ...             ...
1333   50       10.32               3
1334   18       10.64               0
1335   18       12.28               0
1336   21        8.60               0
1337   61        9.69               0

[1338 rows x 3 columns]

In [113]:
y=df.iloc[:,3:]
y.head()

   hospitalization charges
0                    42212
1                     4314
2                    11124
3                    54961
4                     9667

In [114]:
#train test split

from sklearn import model_selection
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=0.3)
x_train.shape
# print(X_train)

(936, 3)

In [116]:
# model fit
model=LinearRegression()
model.fit(x_train, x_train)

LinearRegression()

In [117]:
# find y pred 
y_pred =model.predict(x_test)

In [118]:
y_pred

array([[26767.42500647],
       [26171.15790763],
       [23887.39196608],
       [43195.57468393],
       [20360.07320589],
       [43234.26592921],
       [32215.09977152],
       [26229.19237005],
       [32435.35613791],
       [26334.66143987],
       [36921.34518885],
       [35374.42411108],
       [22970.41433173],
       [26955.43737882],
       [21560.35029532],
       [22418.99829711],
       [39228.18134555],
       [20365.80114465],
       [32195.46912207],
       [30926.11956063],
       [29326.61080131],
       [36953.01431827],
       [45992.91997392],
       [21184.18884059],
       [39374.6300337 ],
       [26403.73391188],
       [36118.72297089],
       [53207.62919868],
       [26931.36041888],
       [29638.72242256],
       [22934.4496141 ],
       [16334.78211512],
       [41256.01363538],
       [49501.32886057],
       [45526.91194291],
       [27453.25124928],
       [27223.9781007 ],
       [29114.09732668],
       [41970.64430652],
       [47265.9979968 ],
       [41974.5157524 ],
       [39574.1060214 ],
       [43069.75565218],
       [33678.18964408],
       [35025.779182  ],
       [22738.98952014],
       [43950.47339875],
       [32161.50534518],
       [20209.60862399],
       [31003.07163443],
       [36594.05069207],
       [32145.74614161],
       [52210.11547696],
       [41954.88510295],
       [53794.29691288],
       [51934.12703347],
       [48756.30922486],
       [27059.75525599],
       [45563.16409285],
       [22348.20604224],
       [29336.21018595],
       [32348.65395719],
       [20549.51019095],
       [46507.37082054],
       [37205.79583658],
       [43753.4379698 ],
       [55139.87923564],
       [20532.17565239],
       [34762.10263853],
       [32449.25111076],
       [15643.79652375],
       [29605.61466818],
       [12458.9628737 ],
       [15317.78992965],
       [23592.91005354],
       [33959.48815841],
       [25691.24716593],
       [28058.84431269],
       [34723.13023536],
       [35040.96979537],
       [42304.39379238],
       [25750.13765086],
       [20351.47429162],
       [23969.50338844],
       [17245.31249823],
       [42831.019829  ],
       [42409.14354972],
       [45369.56822961],
       [25397.6212759 ],
       [50837.3117987 ],
       [40426.73865213],
       [18427.39128875],
       [27405.67993184],
       [37029.8219442 ],
       [32269.41351034],
       [19629.38816104],
       [35565.87604914],
       [23091.36144723],
       [17061.17157175],
       [27432.47714501],
       [37915.55605489],
       [38414.37667013],
       [23258.73642535],
       [36140.07340319],
       [38069.46020248],
       [40703.87828827],
       [47525.37121422],
       [17174.80767567],
       [36523.54586951],
       [42591.99657351],
       [33094.38516755],
       [40748.16076228],
       [49339.54511119],
       [25502.80291341],
       [41867.7587799 ],
       [34584.84084347],
       [36514.80250738],
       [29129.9995147 ],
       [17424.29407614],
       [47842.20256602],
       [39548.02038288],
       [22475.74485684],
       [22116.34935047],
       [30533.04770967],
       [52859.98473997],
       [47699.19344357],
       [27082.82547114],
       [23983.83024147],
       [41104.54858312],
       [34965.01819194],
       [19430.05662119],
       [30273.24261208],
       [24315.4280643 ],
       [44934.65299998],
       [54438.99908949],
       [23723.16912137],
       [19702.90066913],
       [40711.044852  ],
       [38502.94308157],
       [19708.06001769],
       [39602.91044973],
       [27682.38768782],
       [23668.57422466],
       [27576.06259549],
       [21714.25444291],
       [49851.54912464],
       [28132.35682079],
       [30691.25518332],
       [19005.89196886],
       [16688.44968273],
       [19555.87565294],
       [15857.45491662],
       [39645.32241861],
       [46386.42370505],
       [23662.11923558],
       [19358.26389595],
       [44563.08230361],
       [33467.25150443],
       [45539.09487075],
       [33259.60848263],
       [35395.06150532],
       [46903.59480489],
       [27590.25273849],
       [28095.2409105 ],
       [33872.21738749],
       [44588.15199609],
       [31300.5612325 ],
       [53461.84306754],
       [11506.02052172],
       [31447.29735296],
       [31058.38584362],
       [36627.4318665 ],
       [19332.75458547],
       [38922.09283321],
       [43352.19908475],
       [33926.38040403],
       [29015.50738828],
       [42150.05776461],
       [44944.53981693],
       [23361.62195197],
       [38725.2003887 ],
       [40973.2827705 ],
       [34142.47789223],
       [19413.29067284],
       [14143.44629304],
       [42586.83722495],
       [15463.09516298],
       [40761.19971263],
       [35003.42200491],
       [40399.94143896],
       [27676.80419693],
       [20888.55573539],
       [24472.7717776 ],
       [14888.03404858],
       [32464.44172413],
       [35607.00011533],
       [46290.84145217],
       [27421.15797752],
       [27654.73445214],
       [27331.59883355],
       [54750.67883057],
       [25676.48843274],
       [52530.82601248],
       [28261.03281579],
       [40448.37651674],
       [43660.00737995],
       [40580.64279972],
       [45324.57271754],
       [20600.09693175],
       [37179.43050358],
       [29582.54445303],
       [12326.69659071],
       [26189.3484687 ],
       [28066.004602  ],
       [13765.56505546],
       [15670.59373692],
       [34274.31229505],
       [54419.08100774],
       [42873.86367805],
       [19219.97450406],
       [45085.98134222],
       [39489.27434582],
       [53421.57502386],
       [30096.26824933],
       [21081.44002399],
       [42484.66327297],
       [39706.94716901],
       [48344.32750036],
       [41325.0861074 ],
       [43200.30215232],
       [24215.25505306],
       [32058.04349052],
       [28265.19169398],
       [24716.65921151],
       [35752.73722884],
       [44012.37930705],
       [29298.52568546],
       [29355.99155768],
       [14123.67265915],
       [23454.19651931],
       [46698.95946863],
       [50158.06951716],
       [26543.01603631],
       [14431.48095435],
       [57350.98869161],
       [50838.1678212 ],
       [34831.60699072],
       [15971.09102053],
       [33158.44273887],
       [43467.98685169],
       [29295.51799993],
       [44094.77816171],
       [30372.55186297],
       [33179.50427544],
       [48415.97577773],
       [49138.91793083],
       [48229.11459804],
       [36912.74627458],
       [31764.28089046],
       [34132.59107528],
       [38789.82655022],
       [29371.60631338],
       [45343.63477678],
       [34244.07551617],
       [35551.1095781 ],
       [44669.98372398],
       [25172.06885093],
       [35957.93969188],
       [42308.26523826],
       [32082.55233064],
       [36526.26612273],
       [33407.06537899],
       [34273.16884023],
       [30653.562945  ],
       [52033.71744225],
       [44426.51269457],
       [18267.03215208],
       [31927.92887056],
       [33159.44320924],
       [37087.28781642],
       [21027.70114979],
       [20349.75450877],
       [27670.64437799],
       [21787.76695101],
       [44402.73090477],
       [23367.64506087],
       [36894.26054337],
       [55770.6864394 ],
       [34631.98801857],
       [40381.74314005],
       [35020.33240113],
       [19216.11079602],
       [34353.56047974],
       [37482.21616025],
       [15107.70781252],
       [25551.95730367],
       [45243.32505552],
       [13085.89863159],
       [34950.25945874],
       [24036.13676512],
       [50559.16395434],
       [29043.02391392],
       [36803.40575888],
       [42466.89685424],
       [24402.69109738],
       [51027.6125441 ],
       [45676.51276446],
       [17250.47184679],
       [26477.81501018],
       [28348.73546688],
       [27313.24981237],
       [27616.33063918],
       [40941.61364108],
       [28655.11141153],
       [21014.23031927],
       [22463.13778667],
       [18348.7194321 ],
       [29856.82085151],
       [44594.75143303],
       [21990.10617638],
       [26860.42371615],
       [36793.80637424],
       [44679.87054092],
       [16159.67198308],
       [46965.06883302],
       [30809.76320349],
       [29092.74689438],
       [36056.67407815],
       [17489.20766997],
       [43150.57917186],
       [35584.93037055],
       [31826.75538895],
       [30433.16986859],
       [27692.41895263],
       [26273.18741175],
       [42829.30004615],
       [55110.36176925],
       [26160.83921051],
       [39004.20425556],
       [19930.88591502],
       [49277.77591292],
       [33543.49054017],
       [31711.55022447],
       [19781.57252578],
       [27946.06423129],
       [22543.23425603],
       [32192.02181853],
       [41548.19943704],
       [41831.79406227],
       [15971.09102053],
       [17247.45642341],
       [28509.8061782 ],
       [39572.67367086],
       [50103.47462045],
       [21875.17443195],
       [38748.27060385],
       [24958.41045806],
       [22902.49305237],
       [51313.78297469],
       [38503.66239405],
       [11056.3465589 ],
       [14916.55104461],
       [51033.19603499],
       [40257.93132347],
       [31502.33186768],
       [21663.3802698 ],
       [48844.15632381],
       [30047.97761942],
       [12886.99897192],
       [51032.34001249],
       [18855.42738697],
       [12886.56709174],
       [17925.84268245],
       [49932.37264432],
       [43267.36740917],
       [39010.21962663],
       [22965.68686335],
       [31626.5678266 ],
       [39026.12955248],
       [19660.62541028],
       [42479.93580459],
       [34022.39453708],
       [42642.43886645],
       [48177.38440242],
       [24272.28904511],
       [47364.73091965],
       [38427.42335831],
       [27681.53166531],
       [32094.8719685 ],
       [29301.24593869],
       [39279.479661  ],
       [45305.51839613],
       [35319.3973342 ],
       [30424.85838663],
       [37375.74662006],
       [40385.18270576],
       [29049.03928499],
       [18322.77824144],
       [28669.58271242],
       [31349.42819045],
       [49585.16006578],
       [41995.2975945 ]])

In [119]:
# model performance
from sklearn import metrics
print(metrics.mean_absolute_error(y_test,y_pred))
print(metrics.mean_squared_error(y_test,y_pred))
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

23114.6644469093
820846564.3312068
28650.41996779815

In [ ]:
x_train = df.iloc[2:,:]
y_train = df.iloc[:2,:]
print(x_train)

      age  viral load  severity level  hospitalization charges
2      28       11.00               3                    11124
3      33        7.57               0                    54961
4      32        9.63               0                     9667
5      31        8.58               0                     9392
6      46       11.15               1                    20601
...   ...         ...             ...                      ...
1333   50       10.32               3                    26501
1334   18       10.64               0                     5515
1335   18       12.28               0                     4075
1336   21        8.60               0                     5020
1337   61        9.69               0                    72853

[1336 rows x 4 columns]