Logistic Regression - Titanic Dataset

Titanic dataset is one of the datasets available in sklearn.
given:
1. A Training dataset csv file with X train and Y train data
2. A X test File and you have to predict and submit predictions for this file.

task is to:
1. Use Logistic Regression and come with predictions.


Instructions 
1. Use Logistic Regression as a training algorithm and submit results predicted.
2. Files are in csv format.
3. Submit a csv file with only predictions for X test data. File should not have any headers and should only have one column i.e. predictions.
4. Your score is based on number of accurate predictions.


1. You need to upload both predictions and notebook file to submit.

2. Please make sure that your submissions are genuine and you havenâ€™t cheated/copied from anywhere. Also only use techniques taught till this stage for submissions.

3. Your batchmates and TAs can view your submissions, and report them for use of invalid means if that happens. Your score will be reduced to 0 in that case.

In [8]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

### Read the data

In [9]:
train=pd.read_csv('titanic_x_y_train.csv')

In [10]:
test=pd.read_csv('titanic_x_test.csv')

In [11]:
train.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [19]:
train['Ticket'].value_counts()

1601                6
347082              6
3101295             6
CA. 2343            5
S.O.C. 14879        5
                   ..
368323              1
364512              1
347466              1
STON/O2. 3101271    1
367230              1
Name: Ticket, Length: 524, dtype: int64

In [16]:
# train['fare'].value_counts()

In [21]:
train['SibSp'].value_counts()

0    447
1    167
2     20
4     15
3     12
8      5
5      2
Name: SibSp, dtype: int64